# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
.vscode/

# Rider
.idea/

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# Kubernetes
.minikube/

# NuGet
packages/
nuget-packages/
*.nupkg
